html,
body
	height: 100%
	
// typography
body 
	font-size: 21px
	font-family: 'Cera' 


// other overall settings
+placeholder
	opacity: 1
	
.info
	color: $info-color
	
.primary
	color: $primary-color
	
.warning
	color: $warning-color
	
.secondary
	color: $secondary-color 

.npl-ad
	display: block
	
	img
		display: block
		max-width: 100%
		margin: 0 auto 
		


.hide-mobile
	@media (max-width: 767px)
		display: none
		
.hide-desktop
	@media (min-width: 768px)
		display: none