.npl-ad
	display: block
	
	img
		display: block
		max-width: 100%
		margin: 0 auto 
		

.article-top-advertise
	float: left 
	margin: 0 2em 1em 0
	

.article-bottom-advertise
	display: flex
	align-items: center
	justify-content: flex-start
	
	.npl-ad
		&:not(:last-child)
			margin-right: 35px 