.article-wrap
    background-color: #fff
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.12)


.article
    padding: 40px 65px
    position: relative
    p 
        line-height: 1.9
    &--big-padding
        padding: 95px 110px