.offer
	height: 760px
	+flex($d: column, $ai: center, $j: center)
	
	background-position: 50% 50%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	position: relative

	@media (max-width: 1300px)
		height: 570px
	@media( max-width: 991px)
		height: 460px
	
	h1
		margin-bottom: 40px
		font-size: 70px
		color: #FFF
		text-shadow: 0 0 2px rgba(0,0,0,.2)

	.bottom-elements
		position: absolute
		bottom: 0
		transform: translateY(50%)

	.main-news-slider
		margin-bottom: 80px !important
		@media (max-width: 767px)
			margin: 0 auto !important

	&--mid
		height: 450px