.article-page
	background-color: #FFF
	max-width: 1300px
	width: 100%
	margin: 0 auto
	padding: 45px 30px 30px 60px  
	margin-top: -170px 
	position: relative
	
	@media (max-width: 1199px)
		max-width: 970px
		padding: 30px 30px 30px 60px 
		margin-top: -115px 
		
	@media (max-width: 991px)
		max-width: 870px
		padding: 30px 60px 
		margin-top: -105px 
		
	@media (max-width: 767px)
		max-width: 650px
		margin-top: -100px 
		
	@media (max-width: 575px)
		max-width: 450px
		margin-top: -80px 
		padding: 20px
	
	.article
		padding: 0
		


.page
	background-color: #FFF
	max-width: 1300px
	width: 100%
	margin: 0 auto
	padding: 150px 280px 80px 180px  
	margin-top: -170px 
	position: relative
	
	@media (max-width: 1199px)
		max-width: 970px
		padding: 60px 120px
		margin-top: -75px 
		
	@media (max-width: 991px)
		max-width: 870px
		padding: 40px 120px 60px
		margin-top: -60px 
		
	@media (max-width: 767px)
		max-width: 650px
		padding: 60px 70px 
		margin-top: -90px 
		
	@media (max-width: 575px)
		max-width: 450px
		margin-top: -80px 
		padding: 30px 20px
	
	
	.article
		padding: 0
		color: $text-dark-color
		
		@media (max-width: 1199px)
			font-size: 17px 
		
		@media (max-width: 991px)
			font-size: 15px 
		
		@media (max-width: 767px)
			font-size: 21px 
		
		@media (max-width: 575px)
			font-size: 15px 
		
		&__content
			padding-bottom: 0 
			
			blockquote
				background-color: #E3E3E3
				
				&:before
					display: none
			


.archive-page
	padding: 70px
	background-color: #FFF
	max-width: 1300px
	width: 100%
	margin: 0 auto
	margin-top: -80px 
	position: relative
	
	@media (max-width: 1199px)
		max-width: 970px
		padding: 40px 50px 60px 50px 
		margin-top: -55px 
		
	@media (max-width: 991px)
		max-width: 870px
		padding: 40px 60px 
		margin-top: -50px 
		
	@media (max-width: 767px)
		max-width: 650px
		padding: 50px 70px 60px
		margin-top: -70px 
		
	@media (max-width: 575px)
		max-width: 450px
		margin-top: -60px 
		padding: 40px 50px
		
	@media (max-width: 450px)
		padding-left: 15px
		padding-right: 15px  
	
	.filters
		margin-bottom: 40px 