.article-page
	background-color: #FFF
	max-width: 1300px
	width: 100%
	margin: 0 auto
	padding: 45px 30px 30px 60px  
	margin-top: -170px 
	position: relative
	
	.article
		padding: 0
		


.page
	background-color: #FFF
	max-width: 1300px
	width: 100%
	margin: 0 auto
	padding: 150px 280px 80px 180px  
	margin-top: -170px 
	position: relative
	
	
	.article
		padding: 0
		color: $text-dark-color
		
		&__content
			padding-bottom: 0 