.section
	padding: 65px 0 80px
	

	&-heading
		padding-bottom: 25px
		 
		&__title
			font-size: 23px
			color: $text-primary-color
			text-transform: uppercase 

	&.p-0
		padding: 0

	&.top-half
        transform: translateY(-50%)
			


// index.html
@import sections/suggestions
@import sections/entertainment
@import sections/posts-grid
@import sections/lifestyle
@import sections/best-posts
@import sections/destinations
@import sections/time-posts