.article-suggestions
	.suggestions
		padding: 40px 0
		
		.section-heading
			padding: 0 30px
			
			&__title
				font-size: 18px 
		
		.overflow-slider
			padding: 80px 30px
			overflow: hidden
			margin: -80px 0
			
			&__image

				img
					max-height: 255px 
			
			&__carousel
				width: 1050px
				right: 0
				transform: translate(600px, -50%)
				
				.slick-arrow
					bottom: -73px
				

	.post-preview-card
		&__title
			font-size: 15px
			
		.post-date
			font-size: 12px 