.article-similarities

	.section
		padding: 0
		
		.section-heading
			padding-bottom: 15px
			 
			&__title
				font-size: 18px 
				
				@media (max-width: 1199px)
					font-size: 13px
					
				@media (max-width: 991px)
					font-size: 11px 
					
				@media (max-width: 767px)
					font-size: 25px
					margin-bottom: 0.5em  
					
				@media (max-width: 575px)
					font-size: 20px
			


	.testimonial
		.post-date
			font-size: 17px
			color: $text-secondary-color
			
		.post-preview-card__inner
			position: static 
			padding: 0
			

		&__inner
			padding-left: 20px
			padding-right: 20px
			padding-bottom: 20px
			text-align: left   
			
		&__name
			text-align: center
			


	.posts-mini-carousel
		margin: 0 -15px
		opacity: 0
		
		@media (max-width: 1199px)
			margin: 0 -8px
		
		&.slick-initialized
			opacity: 1
		
		.slide
			padding: 8px 15px
			
			@media (max-width: 1199px)
				padding: 8px
			
		.slick-dots
			margin-top: 20px 