.badge
	display: inline-block
	height: 30px
	padding: 5px 22px
	line-height: 20px
	color: #fff
	text-transform: uppercase
	font-size: 15px
	font-weight: 400 
	
	@media (max-width: 1199px)
		font-size: 11px 
		padding: 2.5px 15px
		height: 25px
		
	@media (max-width: 767px)
		font-size: 20px 
		height: 40px
		padding: 10px 20px
		
	@media (max-width: 575px)
		font-size: 13px
		height: 28px
		padding: 4px 15px 
	
	&-info
		background-color: $info-color
		
	&-primary
		background-color: $primary-color
		
	&-warning
		background-color: $warning-color
		
	&-secondary
		background-color: $secondary-color 
	 
.badge-tag
	font-size: 16px
	font-weight: 700
	text-transform: uppercase
	display: block
	&-info
		color: $info-color
		
	&-primary
		color: $primary-color
		
	&-warning
		color: $warning-color
		
	&-secondary
		color: $secondary-color 