.breadcrumbs
    display: block
    margin-bottom: 40px
    list-style-type: none
    li 
        display: inline-block
        vertical-align: middle
        font-size: 16px
        color: #b6b6b6
        text-transform: uppercase
        @media (max-width: 1199px)
            font-size: 12px
        @media (max-width: 991px)
            font-size: 11px
        @media (max-width: 767px)
            font-size: 17px
        @media (max-width: 576px)
            font-size: 14px
        a 
            color: #b6b6b6
            display: inline-block
            vertical-align: middle

        &:after
            content: '/'
            display: inline-block
            vertical-align: middle
            font-size: 16px
            color: #b6b6b6
            margin-left: 2px

        &:last-child
            &:after
                display: none