.metrix
	display: flex
	align-items: center
	margin: 0 -15px
	
	@media (max-width: 767px)
		margin: 0 -5px
	
	&-item
		margin: 0 15px
		padding: 20px 40px
		text-align: center
		background-color: #F7F7F7 
		line-height: normal 
		
		@media (max-width: 1199px)
			padding: 15px 35px
			
		@media (max-width: 767px)
			flex: 1 1 auto
			margin-left: 5px
			margin-right: 5px  
			padding: 15px
			
		@media (max-width: 575px)
			padding: 10px
		
		&__icon
			height: 24px
			display: flex
			align-items: center

			img
				display: block
				max-width: 24px
				max-height: 24px
				margin: 0 auto  
				
				@media (max-width: 575px)
					max-width: 18px
					max-height: 18px  

			svg
				display: block
				width: auto
				max-width: 24px
				max-height: 24px
				margin: 0 auto  
				
				@media (max-width: 575px)
					max-width: 18px
					max-height: 18px 
				
				path
					fill: $primary-color!important
					stroke: 3
					stroke-miterlimit: 10
					

		&__value
			font-size: 26px
			font-weight: 900
			padding: 5px 0
			
			@media (max-width: 1199px)
				font-size: 22px
				
			@media (max-width: 991px)
				font-size: 19px 
				
			@media (max-width: 575px)
				font-size: 15px
			
		&__label
			font-size: 16px
			opacity: 0.5
			
			@media (max-width: 1199px)
				font-size: 14px 
				
			@media (max-width: 991px)
				font-size: 11.4px 
				
			@media (max-width: 575px)
				font-size: 9.4px 