.post-excerpt-preview
	display: block
	color: $text-primary-color
	
	&__cover
		position: relative
		margin: 0
		padding: 0
		
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background-color: rgba(0, 0, 0, 0)
			opacity: 0
			z-index: 0 
			transition: $transition
			
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			border: 2px solid #fff
			opacity: 0
			z-index: 1 
			transition: $transition
		
		img
			display: block
			width: 100% 
			
		figcaption
			position: absolute
			left: 0
			right: 0
			bottom: 0
			z-index: 2
			
	&:hover &__cover
		&:after
			opacity: 1
			background-color: rgba(0, 0, 0, .15) 
			
		&:before
			top: 5px
			left: 5px
			bottom: 5px
			right: 5px
			opacity: 1
			

	&__inner
		padding: 30px 10px 0
		
		@media (max-width: 1199px)
			padding: 20px 3px 0
			
		@media (max-width: 767px)
			padding: 35px 15px 0
			
		@media (max-width: 575px)
			padding: 20px 3px 0
		
	&__title
		font-size: 20px
		font-weight: 700 
		line-height: 1.5em  
		
		@media (max-width: 1199px)
			font-size: 15px 
			
		@media (max-width: 767px)
			font-size: 26px 
			
		@media (max-width: 575px)
			font-size: 18px 
		
	&__excerpt
		display: block
		font-size: 16px
		line-height: 1.875em
		font-weight: 300   
		margin: 0.9em 0 0.6em
		max-height: 5.625em
		overflow: hidden
		
		@media (max-width: 1199px)
			font-size: 12px
			
		@media (max-width: 767px)
			font-size: 21px 
			
		@media (max-width: 575px)
			font-size: 15px 
		

	.post-date
		font-size: 17px
		display: block
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 767px)
			font-size: 22px 
			
		@media (max-width: 575px)
			font-size: 15px 
		 




.post-preview-small
	display: flex
	flex-wrap: wrap
	color: $text-primary-color
	
	&__cover
		width: 125px
		padding: 0
		margin: 0
		position: relative
		
		@media (max-width: 1199px)
			width: 93px
			
		@media (max-width: 991px)
			width: 75px
			
		@media (max-width: 767px)
			width: 163px
			
		@media (max-width: 575px)
			width: 115px
			
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			border: 1px solid #fff
			background-color: rgba(0, 0, 0, 0) 
			opacity: 0
			z-index: 2
			transition: $transition
		
		img
			width: 100%
			display: block
			
	&:hover &__cover
		&:before
			top: 3px
			left: 3px
			bottom: 3px
			right: 3px
			opacity: 1
			background-color: rgba(0, 0, 0, .15) 
			

	&__inner
		width: -webkit-calc( 100% - 125px )
		width: calc( 100% - 125px )
		padding-left: 15px
		
		@media (max-width: 1199px)
			width: -webkit-calc( 100% - 93px )
			width: calc( 100% - 93px )
			
		@media (max-width: 991px)
			width: -webkit-calc( 100% - 75px )
			width: calc( 100% - 75px )
			padding-left: 10px 
			
		@media (max-width: 767px)
			width: -webkit-calc( 100% - 163px )
			width: calc( 100% - 163px )
			padding-left: 20px 
			
		@media (max-width: 575px)
			width: -webkit-calc( 100% - 115px )
			width: calc( 100% - 115px )
			padding-left: 10px 
		

	&__title
		font-size: 17px 
		font-weight: 700
		line-height: 1.5em
		max-height: 3em
		overflow: hidden 
		
		@media (max-width: 1199px)
			font-size: 13px 
			
		@media (max-width: 767px)
			font-size: 22px
			margin-bottom: 0.25em  
			
		@media (max-width: 575px)
			font-size: 15px 
		

	&__excerpt
		display: block
		font-size: 16px
		line-height: 1.625em
		overflow: hidden
		height: 3.25em
		margin-bottom: .5em 
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 991px)
			font-size: 11px 
			
		@media (max-width: 767px)
			font-size: 18px 
	 	

	.post-date
		font-size: 14px 
		display: block
		
		@media (max-width: 1199px)
			font-size: 11px 
			
		@media (max-width: 991px)
			font-size: 10px 
			
		@media (max-width: 767px)
			font-size: 18px 
			
		@media (max-width: 575px)
			font-size: 13px 
		




.post-preview
	padding-top: 30px
	position: relative 
	color: #fff
	display: block
	
	@media (max-width: 1199px)
		padding-top: 25px
		
	@media (max-width: 767px)
		padding-top: 40px 
		
	@media (max-width: 575px)
		padding-top: 28px 

	&__cover
		position: relative
		margin: 0
		padding: 0
			
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			border: 2px solid #fff
			background-color: rgba(0, 0, 0, 0) 
			opacity: 0
			z-index: 2
			transition: $transition
		
		&:after
			content: ''
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.68) 100%)
			z-index: 1
		
		img
			display: block
			width: 100% 
		
		figcaption
			position: absolute
			left: 0
			right: 0
			bottom: 100%
			z-index: 3 
			
	&:hover &__cover
		&:before
			top: 5px
			left: 5px
			bottom: 5px
			right: 5px
			opacity: 1
			background-color: rgba(0, 0, 0, .15) 

	&__inner
		padding: 0 20px 20px
		position: absolute
		left: 0
		bottom: 0
		right: 0
		width: 100%
		display: block
		z-index: 2
		
		@media (max-width: 1199px)
			padding: 0 15px 15px
			
		@media (max-width: 767px)
			padding: 0 30px 25px
			
		@media (max-width: 575px)
			padding: 0 15px 15px
		
	&__title
		font-size: 20px
		line-height: 1.5em
		
		@media (max-width: 1199px)
			font-size: 15px 
			
		@media (max-width: 767px)
			font-size: 27px 
			
		@media (max-width: 575px)
			font-size: 19px 
		

	.post-date
		font-size: 17px 
		display: block
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 767px)
			font-size: 23px 
			
		@media (max-width: 575px)
			font-size: 15px 
		




.post-preview-card
	display: block
	position: relative
	color: $text-primary-color
	
	&__cover
		position: relative
		margin: 0
		display: block
		
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			border: 2px solid #fff
			background-color: rgba(0, 0, 0, 0) 
			opacity: 0
			z-index: 2
			transition: $transition
		
		img
			display: block
			width: 100% 
			
		figcaption
			display: none
			z-index: 1 
			
	&:hover &__cover
		&:before
			top: 5px
			left: 5px
			right: 5px
			bottom: 5px
			opacity: 1
			background-color: rgba(0, 0, 0, .15) 
			

	&__inner
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background-color: #FFF
		display: block 
		padding: 15px 30px
		z-index: 2 
		
		@media (max-width: 1199px)
			padding: 15px 25px
		

	&__title
		font-size: 20px
		line-height: 1.5em  
		
		@media (max-width: 1199px)
			font-size: 15px 
			
		@media (max-width: 767px)
			font-size: 23px 
			
		@media (max-width: 575px )
			font-size: 16px 
		
	&__excerpt
		display: block
		font-size: 16px
		line-height: 1.875em
		font-weight: 300   
		margin: 15px 0 10px
		max-height: 5.625em
		overflow: hidden
		

	.post-date
		color: $text-secondary-color
		font-size: 17px 
		display: block
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 767px)
			font-size: 20px 
			
		@media (max-width: 575px)
			font-size: 14px 
		


.post-author-preview-card
	display: block
	padding-top: 30px 
	
	color: $text-primary-color
	
	&__cover
		display: block
		width: 100%
		margin: 0
		position: relative 
		
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			border: 2px solid #fff
			background-color: rgba(0, 0, 0, 0) 
			opacity: 0
			z-index: 2
			transition: $transition
		
		img
			display: block
			width: 100%
			
		figcaption
			position: absolute
			left: 0
			right: 0
			bottom: 100%
			
	&:hover &__cover
		&:before
			top: 5px
			left: 5px
			right: 5px
			bottom: 5px
			opacity: 1
			background-color: rgba(0, 0, 0, .15) 
			

	&__inner
		padding: 50px 20px 15px
		display: block
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12)
		text-align: left
		position: relative
		
		@media (max-width: 1199px)
			padding: 40px 25px 20px
			
		@media (max-width: 991px)
			padding-top: 35px 
			
		@media (max-width: 767px)
			padding: 45px 40px 40px
			
		@media (max-width: 575px)
			padding: 40px 25px 20px
		


	&__author
		width: 83px
		height: 83px
		display: block
		border-radius: 50%
		-webkit-backface-visibility: hidden
		overflow: hidden
		position: absolute
		z-index: 2 
		top: 0
		left: 50%
		transform: translate(-50%, -50%)
		transition: $transition
		
		@media (max-width: 1199px)
			width: 47px
			height: 47px
			
		@media (max-width: 991px)
			width: 40px
			height: 40px
			
		@media (max-width: 767px)
			width: 85px
			height: 85px
			
		@media (max-width: 575px)
			width: 65px
			height: 65px
		
		
		img
			display: block
			width: 100%
			
	&:hover &__author
		box-shadow: 0px 0px 0px 4px #fff
			
	&__name
		font-size: 21px
		font-weight: 700  
		margin-bottom: 10px 
		text-align: center
		
		@media (max-width: 1199px)
			font-size: 13px 
			
		@media (max-width: 991px)
			font-size: 11px
			
		@media (max-width: 767px)
			font-size: 24px 
			
		@media (max-width: 575px)
			font-size: 18.5px 
		

	&__title
		font-size: 18px
		line-height: 1.5em  
		
		@media (max-width: 1199px)
			font-size: 13px
			 
		@media (max-width: 991px)
			font-size: 11px
			
		@media (max-width: 767px)
			font-size: 24px 
			
		@media (max-width: 575px)
			font-size: 18.5px 
		
		
	&__excerpt
		display: block
		font-size: 16px
		line-height: 1.875em
		font-weight: 300   
		margin: 5px 0
		max-height: 3.75em
		overflow: hidden
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 991px)
			font-size: 10.27px 
			
		@media (max-width: 767px)
			font-size: 22px 
			
		@media (max-width: 575px)
			font-size: 17px
		
		

	.post-date
		color: $text-secondary-color
		font-size: 17px 
		display: block
		
		@media (max-width: 1199px)
			font-size: 12px 
			
		@media (max-width: 991px)
			font-size: 10.27px 
			
		@media (max-width: 767px)
			font-size: 22px 
			
		@media (max-width: 575px)
			font-size: 17px