.socials
	display: inline-flex!important
	align-items: center
	
	.item
		width: 35px
		height: 35px
		border-radius: 50%
		background-color: $primary-color
		display: flex
		align-items: center
		transition: $transition

		@media( max-width: 1300px)
			width: 27px
			height: 27px
		
		&:not(:last-child)
			margin-right: 6px 
		
		&:hover
			background-color: $primary-hover-color 
		
		img
			display: block
			margin: auto
			max-width: 18px
			max-height: 18px 
			@media( max-width: 1300px)
				max-width: 12px
				max-height: 10px
		svg
			display: block
			margin: auto
			max-width: 18px
			max-height: 18px  
			
			path
				fill: #fff!important
				transition: $transition 

	&--plain 
		.item 
			background-color: transparent
			width: auto
			margin-right: 25px !important
			&:hover
				background-color: transparent
			
		svg
			display: block
			margin: auto
			max-width: 18px
			max-height: 18px  
			
			path
				fill: #fff!important
				transition: $transition
			


	&--square
		.item
			border-radius: 0
			border: 1px solid #D3D3D3
			background-color: transparent 
			
			@media (max-width: 1199px)
				width: 24px
				height: 24px
				
				svg,
				img
					max-width: 14px 
					
			@media (max-width: 991px)
				width: 20px
				height: 20px
				
				img,
				svg
					max-width: 10px 
					
			@media (max-width: 767px)
				width: 32px
				height: 32px
				
				img,
				svg
					max-width: 18px 
					
			@media (max-width: 575px)
				width: 26px
				height: 26px
				
				img,
				svg
					max-width: 14px 
			
			
			svg
				path
					fill: $primary-color!important
					
			&:hover
				border-color: $primary-color
				
				svg
					path
						fill: #fff!important
