.best-posts
	background-image: url(../images/best-posts.jpg)
	background-repeat: no-repeat 
	background-position: 50% 50%
	background-size: cover  

	.section-heading
		&__title
			color: #FFF 
			


	.best-posts-desktop
		margin-bottom: -25px
		 
		.post-preview
			margin-bottom: 25px 