.check-out
	padding-bottom: 60px
	 
	.post-excerpt-preview,
		margin-bottom: 40px
		
		@media (max-width: 991px) and (min-width: 768px)
			margin-bottom: 30px 
		
		.post-date
			color: $text-secondary-color
			

	.post-preview-small
		margin-bottom: 20px
		 
		&__excerpt
			display: none
			
		.post-date
			color: $text-secondary-color
			

	.npl-ad
		margin-bottom: 40px
		

	[class*='col-']
		display: flex
		flex-direction: column
		justify-content: space-between
		

	.row
		@media (max-width: 991px)
			& > [class*="col-"]
				&:nth-child(2)
					.bottom-part
						display: none 