.sidebar-widget
	margin: 30px 0
	
	&:last-child
		margin-bottom: 0
		
	&:first-child
		margin-top: 0
		 		

	& > h3
		font-size: 21px
		font-weight: 700
		margin-bottom: 20px
		


	.post-preview
		&:not(:last-child)
			margin-bottom: 40px 
			


	.post-preview-small
		&:not(:last-child)
			margin-bottom: 30px
			 
		.post-date
			color: $text-secondary-color
			

	.widget-tags-list
		margin: 0 -5px -10px
		display: flex
		flex-wrap: wrap
		align-items: center
		padding-top: 20px 
		
		li
			margin: 0 5px 10px
			list-style: none 
			display: block
			
			a
				display: block
				border: 1px solid #D3D3D3
				text-transform: uppercase
				font-size: 17px
				padding: 8px 15px
				transition: $transition 
				font-weight: 400
				color: $text-primary-color
				
				&:hover
					color: #fff
					background-color: $primary-color
					border-color: $primary-color 