.main-news-slider
    opacity: 1
    width: 615px !important
    max-width: 100%
    &__item
        background-color: #fff
        padding: 45px 45px 60px 45px
        margin: 25px 0
        position: relative
        .badge-tag
            margin-bottom: 10px
        &__title 
            font-size: 28px
            font-weight: 700
            margin-bottom: 10px
        .post-date
            font-size: 18px
            font-weight: 400
            color: $grey
        .btn
            position: absolute
            left: 45px
            z-index: 2
            bottom: 0
            transform: translateY(50%)